*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(https://images.pexels.com/photos/13672084/pexels-photo-13672084.jpeg?auto=compress&cs=tinysrgb&w=600&lazy=load);
    background-size: cover;
    background-position: 25% 40%
    


}
h1{
    color: goldenrod;
}

a{
    margin: 25px;
}
img{
    width: 400px;
    
}
#thirdDiv{
    height: 600px;
    width: 500px;
    background-color: mediumslateblue;
    padding: 50px;
    border: 7px;
    border-color:goldenrod;
    border-style:groove;
    margin-bottom: 50px;
}
div ul{
    align-items: center;
    justify-content: center;
    list-style: none;
}
#spanId{
    font-size: 18px;
    margin: 50px;   
}

div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}